:root {
	--primary-50: #ffeaf5;
	--primary-100: #ffbddf;
	--primary-200: #ff8fc8;
	--primary-300: #ff62b2;
	--primary-400: #ff349c;
	--primary-500: #dd2181;
	--primary-600: #bb1269;
	--primary-700: #990752;
	--primary-800: #77003d;
	--primary-900: #55002c;
	--gray-50: #f8f9fa;
	--gray-100: #f1f3f5;
	--gray-200: #e9ecef;
	--gray-300: #dee2e6;
	--gray-400: #ced4da;
	--gray-500: #adb5bd;
	--gray-600: #868e96;
	--gray-700: #495057;
	--gray-800: #343a40;
	--gray-900: #212529;
	--green-50: #d3f9d8;
	--green-400: #00c473;
	--red-500: #f03e3e;
}

body {
	margin: 0px;
}

* {
	box-sizing: border-box;
}
*::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
}

p {
	margin: 0;
}