
spring:
  profiles:
    include: oauth

  jpa:
    hibernate:
      ddl-auto: validate
      use-new-id-generator-mappings: true
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/mydb?serverTimezone=Asia/Seoul&useSSL=false&tinyInt1isBit=false
    username: ssafy
    password: ssafy

#jwt:
#  header: Authorization
#  #HS512 ????? ??? ??? ??? 512bit, ? 64byte ??? secret key? ???? ??.
#  #echo 'silvernine-tech-spring-boot-jwt-tutorial-secret-silvernine-tech-spring-boot-jwt-tutorial-secret'|base64 => secret : ? ???? base64? ???? ?
#  secret: c2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQtc2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQK
#  token-validity-in-seconds: 86400

app:
  auth:
    jwt:
      secret-key: ASDHLKjWDUHASf676SJDfh623DAF8
